@import url(../../src/assets/fonts/fonts.css);

html, body {
  font-family: "Cadiz", sans-serif;
  font-size: 15px;
}

html.titan #sidebar {
  background-color: #f5f5fa;
  background-color: #E6DCFF;
}

html.titan .main-wrapper {
  background-color: #f5f8fa;
  background-color: #fff;
  position: relative;
}

html.titan .chat-box-wrapper {
  box-shadow: 0px 15px 20px -20px #cbbdef;
  border-color: #e6e0f4;
}

html.titan .gradient-text {
  background: linear-gradient(to right, #6570f4, #b077fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html.titan .btn-primary {
  background: linear-gradient(to right, #6570f4, #b077fd);
}

html.titan .suggestion-list-wrapper .suggestion-btn {
  background-color: white;
  border: 1px solid #f0f0f6;
}

html.dark .suggestion-list-wrapper .suggestion-btn {
  background-color: rgba(255, 255, 255, 0.051);
  border: 1px solid #f0f0f62b;
}

.welcome-heading {
  font-weight: 500;
  text-transform: capitalize;
  color: #515151;
  font-size: 1.6rem;
}


.suggestion-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.mysp-footer {
  font-size: 0.75rem;
  color: #908d98;
  text-align: center;
}

.mysp-footer span {
  color: #000;
}

.user-image {
  filter: brightness(100%) sepia(65%) hue-rotate(213deg) brightness(83%) contrast(128%)  ;
}

html.titan .from-gray-50 {
  --tw-gradient-from: var(--color-gray-50, #E6DCFF)
}

.font-primary {
  font-family: "Cadiz", sans-serif !important;
}

html.dark .suites-btn {
  background-color: #ffffff0d !important;
  color: white;
}

html.dark .suites-btn img {
  filter: brightness(1.5);
}
